/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
	 Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}
html {
  color: #222;
  font-size: 93.8%;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  background-color: hsl(36, 100%, 99%);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
	 Author's custom styles
   ========================================================================== */
/* make sure images behave fluidly */
img {
  object-fit: cover;
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.container {
  margin: 2rem 4vw;
  background-color: hsl(36, 100%, 99%);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.top-articles {
  display: grid;
  gap: 2rem;
}

.top-articles div {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1.5rem;
}
.top-articles div img {
  grid-column: 1;
}
.top-articles div .text-group {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0;
}

.overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  cursor: pointer;
}

header {
  position: relative;
  height: 2rem;
}
header img.logo {
  float: left;
  height: 2rem !important;
}
header button {
  float: right;
  margin-top: 0.4rem;
  border: none;
  background-color: transparent;
}
header button:focus {
  background-color: lightblue;
}
header nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: hsl(36, 100%, 99%);
  overflow-x: hidden;
  padding-top: 7rem;
  transition: 0.5s;
}
header nav li {
  padding: 0.7rem 0.7rem 0.7rem 0px;
  display: block;
  transition: 0.3s;
}
header nav li button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  height: auto;
}
header nav li span {
  text-decoration: none;
  font-size: 1.2rem;
  color: hsl(240, 100%, 5%);
}
header nav li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: hsl(240, 100%, 5%);
}
header nav li a:hover, header nav li a:focus {
  color: hsl(5, 85%, 63%);
}
header nav li a:active {
  background-color: hsl(233, 8%, 79%);
}

main picture {
  width: auto;
}
main picture img {
  object-fit: cover;
  max-width: 100%;
  margin-top: 2rem;
}
main h1 {
  font-weight: 800;
  font-size: 2.7rem;
  line-height: 1;
  color: hsl(240, 100%, 5%);
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding-right: 0.5rem;
}
main p {
  color: hsl(236, 13%, 42%);
  line-height: 1.7;
  margin-bottom: 1.5rem;
}
main a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  padding: 1rem 2rem;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  box-shadow: inset 0 0 3px 0 brown;
}
main a:hover {
  background-color: hsl(240, 100%, 5%);
}

.new-articles {
  padding: 0 1.4rem;
  background-color: hsl(240, 100%, 5%);
}
.new-articles article {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  padding: 1rem 0 1.8rem;
}
.new-articles article:last-child {
  border-bottom: none;
}
.new-articles h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0 0;
}
.new-articles h3 {
  font-size: 1.4rem;
  margin: 1rem 0 0.5rem;
}
.new-articles h3 a {
  color: hsl(36, 100%, 99%);
  text-decoration: none;
}
.new-articles h3 a:hover {
  color: hsl(35, 77%, 62%);
}
.new-articles p {
  color: hsl(233, 8%, 79%);
  line-height: 1.8;
  margin: 0;
}

.top-articles {
  color: hsl(236, 13%, 42%);
}
.top-articles h2 {
  display: none;
}
.top-articles img {
  object-fit: cover;
  width: auto;
  max-width: 100%;
  height: auto;
}
.top-articles hgroup p {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.top-articles hgroup h3 {
  font-size: clamp(1.2rem, 4vw, 2.5rem);
  line-height: 1.2;
  margin: 0;
}
.top-articles hgroup h3 a {
  color: hsl(240, 100%, 5%);
  text-decoration: none;
}
.top-articles hgroup h3 a:hover {
  color: hsl(5, 85%, 63%);
}
.top-articles p {
  margin: 0;
}
.top-articles .text-group > p {
  line-height: 1.7rem;
}

footer {
  display: block;
  height: 2rem;
  width: calc(100% - 1rem);
  position: relative;
  top: 1rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: hsl(236, 13%, 42%);
}
.attribution a {
  color: hsl(5, 85%, 63%);
}
.attribution a:hover {
  color: hsl(35, 77%, 62%);
  text-decoration: none;
}

/* ==========================================================================
	 Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *	  causes content to wrap 1 word per line:
 *	  https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	  `contenteditable` attribute is included anywhere else in the document.
 *	  Otherwise it causes space to appear at the top and bottom of elements
 *	  that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	  `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 50rem) {
  /* Style adjustments for viewports that meet the condition */
  .container {
    width: 77vw;
    max-width: 74rem;
    min-width: 50rem;
    padding: 5rem 0 0;
    margin: 0 auto;
  }
  header {
    height: 3rem;
    position: relative;
  }
  header img.logo {
    height: 2.6rem !important;
    margin-top: 1rem;
  }
  header button,
  header img.menu-icon {
    display: none;
  }
  header nav {
    width: auto !important;
    height: auto;
    display: block;
    position: relative;
    top: 0;
    float: right;
    z-index: 0;
    padding-top: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  header nav ul {
    position: relative;
    top: 0;
  }
  header nav li {
    display: inline-block;
    padding-left: 1.5rem;
  }
  header nav li button {
    display: none;
  }
  header nav li span {
    text-decoration: none;
    font-size: 1.2rem;
    color: hsl(236, 13%, 42%);
  }
  header nav li a {
    color: hsl(236, 13%, 42%);
    font-size: 1.1rem;
    text-decoration: none;
  }
  header nav li a:hover, header nav li a:focus {
    color: hsl(35, 77%, 62%);
  }
  header nav li a:active {
    background-color: hsl(233, 8%, 79%);
  }
  .content {
    min-width: 50rem;
    padding: 2.5rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem 2rem;
  }
  main {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
  }
  main picture {
    grid-column: 1/3;
    grid-row: 1;
  }
  main picture img {
    margin-top: 0;
  }
  main h1 {
    grid-column: 1/2;
    grid-row: 2/4;
    font-size: clamp(2.7rem, 4vw, 3.7rem);
  }
  main a {
    box-sizing: border-box;
    width: 12.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.2rem;
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
    text-align: center;
  }
  main p {
    line-height: 1.6rem;
  }
  .new-articles {
    grid-column: 3/4;
  }
  .new-articles h2 {
    font-size: 2.5rem;
    margin: 2.2rem 0 0;
    line-height: 1.2;
  }
  .new-articles h3 {
    font-size: 1.3rem;
    line-height: 1.3;
  }
  .top-articles {
    width: 100%;
    grid-row: 2;
    grid-column: 1/4;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .top-articles hgroup h3 {
    font-size: 1.2rem;
  }
  .top-articles > div {
    display: grid;
    gap: 1.5rem;
  }
  footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
/* ********************************************
# print
******************************************** */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/*  ==========================================================================
	Print styles.
	Inlined to avoid the additional HTTP request:
	https://www.phpied.com/delay-loading-your-print-css/
	========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=main.css.map */
