/* ==========================================================================
	 Author's custom styles
   ========================================================================== */

// Primary colors

$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

// Neutral colors

$off-white: hsl(36, 100%, 99%);
$gray-blue: hsl(233, 8%, 79%);
$dark-gray-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

/* make sure images behave fluidly */
img {
	object-fit: cover;
	width: auto;
	max-width: 100%;
	height: auto !important;
}

// grid layout -- mobile

.container {
	margin: 2rem 4vw;
	background-color: $off-white;
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4rem;
}

div.top-articles {
	display: grid;
	gap: 2rem;
}

div.top-articles div {
	display: grid;
	grid-template-columns: 30% auto;
	gap: 1.5rem;

	img {
		grid-column: 1;
	}
	.text-group {
		grid-column: 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 0;
	}
}

// sections

// ____________ opaque adjacent overlay when mobile menu displayed
.overlay {
	position: fixed; 	// Sit on top of the page content
	display: none; 		// Hidden by default
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1; 		// Specify stack order above content
	cursor: pointer; 	// Add a pointer on hover
}

header {
	position: relative;
	height: 2rem;

	img.logo {
		float: left;
		height: 2rem !important;
	}
	img.menu-icon {
		float: right;
		margin-top: 0.4rem;
	}

// _________ sliding nav menu for mobile layout
	nav {
		height: 100%;
		width: 0;         // 0 width - change this with JavaScript
		position: fixed;  // Stay in place
		z-index: 2;       // Stay on top
		top: 0;
		right: 0;
		background-color: $off-white;
		overflow-x: hidden;  // Disable horizontal scroll
		padding-top: 7rem;   // Place content 60px from the top
		transition: 0.5s;    // 0.5 second slide in the sidenav

		li {
			padding: .7rem .7rem .7rem 0px;
			display: block;
			transition: 0.3s;
			a {
				text-decoration: none;
				font-size: 1.2rem;
				color: $very-dark-blue;
				&:hover {
					color: $red;
				}
			}
			button {
				position: absolute;
				top: 2rem;
				right: 1rem;
				background-color: transparent;
				border: none;
				height: 1.2rem;
			}
		}
	}
// _____________ end of sliding menu
}

main {

	picture {
		width: auto;

		img {
			object-fit: cover;
			max-width: 100%;
			margin-top: 2rem;
		}
	}
	h1 {
		font-weight: 800;
		font-size: 2.7rem;
		line-height: 1;
		color: $very-dark-blue;
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
	p {
		color: $dark-gray-blue;
		line-height: 1.7;
		margin-bottom: 1.5rem;
	}
	a {
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 700;
		letter-spacing: 0.4rem;
		padding: 1rem 2rem;
		color: $off-white;
		background-color: $red;
		box-shadow: inset 0 0 3px 0 brown;

		&:hover {
			background-color: $very-dark-blue;
		}
	}
}

// sidebar in desktop

.new-articles {
	padding: 0 1.4rem;
	background-color: $very-dark-blue;

	article {
		border-bottom: 1px solid $dark-gray-blue;
		padding: 1rem 0 1.8rem;
	}

	article:last-child {
		border-bottom: none;
	}

	h2 {
		color: $orange;
		font-size: 2rem;
		font-weight: 700;
		margin: 1rem 0 0;
	}
	h3 {
		font-size: 1.2rem;
		margin: 1rem 0 0.5rem;
		a {
			color: $off-white;
			text-decoration: none;
		}
		a:hover {
			color: $orange;
		}
	}
	p {
		color: $gray-blue;
		line-height: 1.8;
		margin: 0;
	}
}

.top-articles {
	color: $dark-gray-blue;

	img {
		object-fit: cover;
		width: auto;
		max-width: 100%;
		height: auto;
	}
	hgroup p {
		color: $gray-blue;
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: .5rem;
	}
	hgroup h3 {
		font-size: clamp(1.2rem, 4vw, 2.5rem);
		line-height: 1.2;
		margin: 0;
		a {
			color: $very-dark-blue;
			text-decoration: none;
		}
		a:hover {
			color: $red;
		}
	}
	p {
		margin: 0;
	}
	.text-group > p {
		line-height: 1.7rem;
	}
}

// footer
footer {
	display: block;
	height: 2rem;
	width: calc(100% - 1rem);
	position: relative;
	top: 1rem;
}

.attribution {
	font-size: 0.8rem; text-align: center;
	color: $dark-gray-blue;

	a {
		color: $red;
	}
	a:hover {
		color: $orange;
		text-decoration: none;
	}
}
