/* ==========================================================================
	 Author's custom styles
   ========================================================================== */

// Primary colors

$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

// Neutral colors

$off-white: hsl(36, 100%, 99%);
$gray-blue: hsl(233, 8%, 79%);
$dark-gray-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

/* make sure images behave fluidly */
img {
	object-fit: cover;
	width: auto;
	max-width: 100%;
	height: auto !important;
}

// grid layout -- mobile

.container {
	margin: 2rem 1rem;
	background-color: $off-white;
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3;
	gap: 4rem;
}

div.top-articles {
	display: grid;
	grid-template-rows: 3;
	gap: 2rem;
}

div.top-articles div {
	display: grid;
	grid-template-columns: 30% auto;
	gap: 1.5rem;

	img {
		grid-column: 1;
	}
	.text-group {
		grid-column: 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 0;
	}
}

// sections

header {
	position: relative;
	height: 2rem;

	img.logo {
		float: left;
		height: 2rem !important;
	}
	img.menu-icon {
		float: right;
		margin-top: 0.4rem;
	}
	nav {
		display: none;
	}
}

main {

	picture {
		width: auto;

		img {
			object-fit: cover;
			max-width: 100%;
			margin-top: 2rem;
		}
	}
	h1 {
		font-weight: 800;
		font-size: 2.7rem;
		line-height: 1;
		color: $very-dark-blue;
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
	p {
		color: $dark-gray-blue;
		line-height: 1.7;
		margin-bottom: 1.5rem;
	}
	a {
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 700;
		letter-spacing: 0.4rem;
		padding: 1rem 2rem;
		color: $off-white;
		background-color: $red;
	}
}

//sidebar in desktop

.new-articles {
	padding: 0 1.4rem;
	background-color: $very-dark-blue;

	article {
		border-bottom: 1px solid $dark-gray-blue;
		padding: 1rem 0 1.8rem;
	}

	article:last-child {
		border-bottom: none;
	}

	h2 {
		color: $orange;
		font-size: 2rem;
		font-weight: 700;
		margin: 1rem 0 0;
	}
	h3 {
		color: $off-white;
		font-size: 1.2rem;
		margin: 1rem 0 0.5rem;
	}
	p {
		color: $gray-blue;
		line-height: 1.8;
		margin: 0;
	}
}

.top-articles {
	color: $dark-gray-blue;

	img {
		object-fit: cover;
		width: auto;
		max-width: 100%;
		height: auto;
	}
	hgroup p {
		color: $gray-blue;
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: .5rem;
	}
	hgroup h3 {
		color: $very-dark-blue;
		font-size: 1.2rem;
		line-height: 1.2;
		margin: 0;
	}
	p {
		margin: 0;
	}
	.text-group > p {
		line-height: 1.7rem;
	}
}

//footer
footer {
	display: block;
	width: calc(100% - 2rem);
	position: absolute;
	bottom: 1rem;
}

.attribution {
	font-size: 0.8rem; text-align: center;
	color: $dark-gray-blue;

	a {
		color: $red;
	}
}
